<!-- This is the partial view to show cart items details for each grade-->

 <div class="table">
     <div class="row">
        <div ng-repeat="subject in currentSubjectData|filter:selectedItem">
            
             <div class="panel panel-default">

                <div class="panel-heading">
                     <a ng-href="{{subject.url}}">{{subject.name}}</a>
                </div>
                
                <div class="panel-body">
                    <div class="col-md-2">
                         
                         <img ng-src="{{subject.img}}" height="25%">
                     </div>
                      <div class="col-md-1">
                           <p>{{subject.description}}.
                             </p>
                        </div>
                     <div class="col-md-4">
                        <ul class="list-group">
                          <li  ng-if="subject.cost1" class="btn btn-primary list-group-item" 
                              ng-click="cart.addItem(subject.subjectid, subject.name, subject.cost1, 1, 'online-1M')"
                              >1 Month Rate: {{subject.cost1|currency:"Rupees "}} Add To Cart</li>
                          <li  ng-if="subject.cost3" class="btn btn-primary list-group-item" 
                              ng-click="cart.addItem(subject.subjectid, subject.name, subject.cost3, 1, 'online-3M')"
                              >3 Month Rate: {{subject.cost3|currency:"Rupees "}} Add To Cart</li>
                          <li  ng-if="subject.cost6" class="btn btn-primary  list-group-item"
                              ng-click="cart.addItem(subject.subjectid, subject.name, subject.cost6, 1, 'online-6M')"
                              >6 Month Rate: {{subject.cost6|currency:"Rupees "}} Add To Cart</li>
                          <li ng-if="subject.cost" class="btn btn-primary  list-group-item"
                              ng-click="cart.addItem(subject.subjectid, subject.name, subject.cost, 1, 'online-12M')"
                              >1 Year Rate: {{subject.cost|currency:"Rupees "}} Add To Cart</li>
                          <li ng-if="subject.hasprintrate" class="btn btn-primary  list-group-item"
                              ng-click="cart.addItem(subject.G1Allv211010, subject.name, subject.costp, 1, 'printed')"
                              >Printed Copy Rate:{{subject.costp|currency:"Rupees "}} Add To Cart</li>
                        </ul>
                     </div>
                     <div class="col-md-3">
                         <div class="well">
                              <a ng-href="#/cart" title="go to shopping cart"
                                 ng-disabled="cart.getTotalCount() < 1">
                                 <i class="icon-shopping-cart" />
                                 <b>{{cart.getTotalCount()}}</b> items,
                                 <b>{{cart.getTotalPrice() | currency:"Rupees "}}</b>
                              </a>
                           
                          </div>
                          <p class="text-info">
                                <button 
                                    class="btn btn-block btn-danger" 
                                    ng-click="cart.clearItems()" 
                                    ng-disabled="cart.getTotalCount() < 1" >
                                    <i class="icon-trash icon-white" /> clear cart
                                </button>
                                <button 
                                    class="btn btn-block btn-link"
                                    ng-click="cart.checkout('Paypal',false)"
                                    ng-disabled="cart.getTotalCount() < 1" >
                                    <img
                                      src=https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif
                                      alt="checkout PayPal"/>
                                </button>
                                <button 
                                    class="btn btn-block btn-link" 
                                    ng-click="cart.checkout('Facebook',false)" 
                                    ng-disabled="cart.getTotalCount() < 1" >
                                    <img
                                      src=https://checkout.google.com/buttons/checkout.gif 
                                      alt="checkoutFacebook"/>
                                </button>
                            </p>
                    </div>
                 </div>
            </div>
         </div>
     </div>
 </div>
