<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" 
	aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login/Register</h4>
      </div>
      <div class="modal-body">
          <form role="form">
              
               <fieldset>
                    <div class="form-group">
                        <input class="inline form-control" type="text" placeholder="username">
                   </div>
                    <div class="form-group">
                        <input class="inline form-control" type="password" placeholder="password">
                   </div>
                    
                        <button type="submit" class="btn btn-primary" value="st_login">Login</button>
						<!--<fb app-id='150225251769346'></fb>-->
                       	<button type="submit" class="btn btn-primary" 
							data-ng-show="!facebook_logged" data-ng-disabled="!facebookReady"
							value="fb_login" ng-click="facebook_login()">Facebook Login</button>
                       	<button type="submit" class="btn btn-danger" 
							data-ng-show="facebook_logged" data-ng-disabled="!facebookReady"
							value="fb_login" ng-click="facebook_logout()">Facebook Logout</button>
                        <button type="submit" class="btn btn-primary" value="gp_login">Google Login</button>
                        <a href="#" class="btn btn-primary" ng-click="showRegForm=!showRegForm">Register</a>
                    
                </fieldset>
            </form>
            
            <form role="form" ng-show="showRegForm">
                <fieldset >
                    <div class="form-group">
                        <input class="input span5  form-control" type="text" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input class="input span5  form-control" type="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="first name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="last name">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="phone number">
                    </div>
                    <div >
                        <p class="help-block">Select Classes of your interest</p>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="Nursery">Nursery
                        </label>
                    
                        <label class="checkbox-inline">
                            <input type="checkbox" value="LKG">LKG
                        </label>
                   
                        <label class="checkbox-inline">
                            <input type="checkbox" value="UKG">UKG
                        </label>
                   
                        <label class="checkbox-inline">
                            <input type="checkbox" value="1">Grade1
                        </label>
                   
                        <label class="checkbox-inline">
                            <input type="checkbox" value="2">Grade2
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="3">Grade3
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="4">Grade4
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="5">Grade5
                        </label>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary" value="register">Register</button>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
