<footer class="footer">
	<div class="nav navbar navbar-inverse" role="navigation">
        <ul class="nav navbar-nav">
				<li class="navbar-text"><a href="#/generic/home">Home</a></li>
				<li class="navbar-text"><a href="#/generic/contactus">Contact Us</a></li>
				<li class="navbar-text"><a href="#/generic/sitemap">Site Map</a></li>
				<li class="navbar-text"><a href="#/generic/privateprivacy">Private Privacy</a></li>
				<li class="navbar-text"><a href="#/generic/terms">T&C</a></li>
		</ul>
	</div>
</footer>
