<script type="text/ng-template" id="templates/menu1.html">
	<div class="ng-include" src="'views/login-modal.html'"></div> 
	<div class="nav navbar navbar-inverse null-bottom-margin" role="navigation"> 
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar-header-1">
			<span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
			<span class="text" style="color:white;">Menu</span>
          </button>
			<ul class="nav pull-left">
				<!-- This works well for static text, like a username -->
				<li ng-if="username" class="navbar-text pull-left">{{username}}</li>
				<li ng-if="!username" class="navbar-text pull-left">
				<a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span>Login</a>
				</li>
				<!-- Add any additional bootstrap header items.  This is a drop-down from an icon -->
				<li class="dropdown pull-right">
				  <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 5px;" 
					class="dropdown-toggle">
					<span class="glyphicon glyphicon-user"></span><b class="caret"></b>
				  </a>
				  <ul class="dropdown-menu">
					<li>
					  <a ng-href="#/users/id/worksheets" title="worksheets">MyWorksheets</a>
					</li>
					<li>
					  <a ng-href="#/users/id" title="Profile">Profile</a>
					</li>
					<li>
					  <a ng-href="#/logout" title="Logout">Logout </a>
					</li>
				  </ul>
				</li>
			  </ul>
        </div>
        <!-- etc… --> <!-- Collect the nav links, forms, and other content for toggling --> 
        <div class="collapse navbar-collapse navbar-left" id="myNavbar-header-1"> 
           <ul  class="nav navbar-nav">
               <li role="presentation"><a href="#/faq">FAQ</a></li>
               <li role="presentation"><a href="#/contactus">Contact Us</a></li>
          </ul>
       </div> 
        <!-- /.navbar-collapse --> 
	</div>
</script>

<script type="text/ng-template" id="templates/menu2.html">
    <div class=" nav navbar navbar-inverse null-bottom-margin" role="navigation"> 
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar-header-2">
    		<span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
    		<span class="text" style="color:white;">Menu</span>
          </button>
    			<ul class="nav pull-left">
    				<!-- This works well for static text, like a username -->
    				<li class="navbar-text pull-left">Worksheets</li>
    				<!-- Add any additional bootstrap header items.  This is a drop-down from an icon -->
    				<li class="dropdown pull-right">
    				  <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 5px;" 
						class="dropdown-toggle">
						<span class="glyphicon glyphicon-folder-open"></span><b class="caret"></b>
					  </a>
    				  <ul class="dropdown-menu">
    					<li>
    					  <a ng-href="#/shopping" title="worksheet shopping">Shop</a>
    					</li>
    					<li>
    					  <a ng-href="#/samples" title="worksheet samples">Samples</a>
    					</li>
    				  </ul>
    				</li>
    			  </ul>
        </div>
        <!-- etc… --> <!-- Collect the nav links, forms, and other content for toggling --> 
        <div class="collapse navbar-collapse navbar-left" id="myNavbar-header-2"> 
            <ul  class="nav navbar-nav">
    				<li role="presentation"> <a  role="menuitem" tabindex="-1" ng-href="#/worksheets">Worksheets </a></li>
    				<li role="presentation"> <a  role="menuitem" tabindex="-1" ng-href="#/samples">Samples </a></li>
    				<li role="presentation"> <a  role="menuitem" tabindex="-1" ng-href="#/shopping">Shop </a></li>
    				<li role="presentation"> <a  role="menuitem" tabindex="-1" ng-href="#/myworksheets">Why Worksheets</a></li>
           </ul>
        </div> 
        <!-- /.navbar-collapse --> 
    </div>
</script>
<div class="row">
    <div class="col-lg-2 col-xs-2"> 
    	<img src="http://www.uptoschoolworksheets.com/in/images/starlogo2.png"><br > 
    	<span >Little brains <br> ...thinking big </span>
    </div>
    <div class="col-lg-2 col-xs-1 col-xs-offset-2 col-lg-offset-0">
    		<h1 class="visible-md visible-lg "> UpToSchool Worksheets</h1>
    		<h3 class="visible-xs vertical-text visible-sm"> UpToSchool Worksheets</h3>
    </div>
    <div class="col-lg-6 col-lg-offset-2 col-xs-7">
    	<div class="row" style="background-color:red;">
    		<ng-include src="'templates/menu1.html'" class="pull-right"></ng-include>
    	</div>
    	<div class="row" style="background-color:yellow;">
            <ng-include class="pull-right" src="'templates/search.html'"></ng-include>
    	</div>
    	<div class="row" style="background-color:purple;">
    		<ng-include src="'templates/menu2.html'" class="pull-right"></ng-include>
    	</div>
    </div> <!-- col-8 -->
</div>
<div data-ng-view=""  class="row" onload="onViewLoad()"> </div>
