<div class="col-lg-1">
	<div class="nav navbar navbar-left navbar-inverse grade-menu" role="navigation">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar-leftmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
			<span class="text" style="color:white;">Grade Menu</span>
          </button>
        </div>
        <!-- etc… --> <!-- Collect the nav links, forms, and other content for toggling --> 
        <div class="collapse navbar-collapse" id="myNavbar-leftmenu"> 
           <ul  class="nav navbar-nav">
               <li role="presentation"><a href="#/grade/1">Grade1</a></li>
               <li role="presentation"><a href="#/grade/2">Grade2</a></li>
               <li role="presentation"><a href="#/grade/3">Grade3</a></li>
               <li role="presentation"><a href="#/grade/4">Grade4</a></li>
               <li role="presentation"><a href="#/grade/4">Grade4</a></li>
               <li role="presentation"><a href="#/grade/4">Grade4</a></li>
               <li role="presentation"><a href="#/grade/4">Grade4</a></li>
			</ul>
		</div>
	</div>
</div>
