<div class="col-xs-10">
    <form class="form-inline" role="search">
        <div class="input-group input-group-md">
            <span class="input-group-addon hidden-sm hidden-xs nopadding">
            <select class="form-control" aria-labelledby="search-addon1">
                <option>Grade2</option>
                <option>Grade1</option>
            </select>
            </span>
            <span class="input-group-addon hidden-sm hidden-xs nopadding">
            <select class="form-control" aria-labelledby="search-addon1">
                <option>subject1</option>
                <option>subject2</option>
            </select>
            </span>
            <input type="text" class="form-control" placeholder="Search" aria-label="search-addon1">
            <span class="input-group-btn">

                <a href="#/searcsubmit" class="form-control btn btn-info btn-xs">Submit</a>
            </span>
        </div>
    </form>
</div>
<div class="col-xs-2">
        <a href="#" data-toggle="modal" data-target="#shoppingcartmodal">
                <span class="glyphicon glyphicon-shopping-cart btn btn-info btn-md">({{totalShoppingItems}})</span>
        </a>
</div>
